{
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "importOrder": [
    "^next/(.*)$",
    "^@/server/(.*)$",
    "^@/trpc/(.*)$",
    "^@/components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
